// {
//     "presets": ["es2015", "stage-2"]
// }
{
    "presets": [
        [
            "env",
            {
                "targets": {
                    "node": "current"
                }
            }
        ]
    ]
}